@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

img {
  width: 250px;
}

#big {
  width: 100%;
}

#bigg {
  font-family: "Open Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.figure-img:hover {
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  line-height: 1;
  box-shadow: 0 0px 0px 0 transparent, 0px 20px 20px 0px rgba(0, 0, 0, 0.19);
  width: 251px;
}
